body {
  font-family: Verdana, Arial, Tahoma, Serif;
  background: #b0e1ea;
  display: block;
  
}

#container {
  width: fit-content;
  height: 60%;
  margin: 30px auto;
  padding-bottom: 30px;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(229, 45, 45, 0.1);
  border-radius: 15px;
  
}
#subContainer{
  margin: auto;
  padding: auto;
}

h1 {
  padding: 10px;
  margin: auto;
  background: rgb(8, 67, 87);
  color: rgb(217, 224, 239);
  text-align: center;
  font-size: 26px;
  font-weight: bolder;
  border-radius: 15px 15px 0px 0px;
  border-bottom: 7px solid rgb(11, 58, 73);
  border-right: 7px solid rgb(11, 58, 73);

}

.h3 {
  width: 80%;
  padding: 5px;
  background: rgb(23, 89, 111);
  color: rgb(255, 255, 255);
  margin: 5px 25px 5px 25px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 5px;
  border-bottom: 5px solid rgb(13, 61, 77);
  border-right: 5px solid rgb(13, 61, 77);
  
  
}

.input {
  width: 80%;
  padding: 5px;
  margin: 5px 25px 15px 25px;
  border: solid rgb(194, 190, 190) 1px;
  border-bottom: 3px solid rgb(13, 61, 77);
  border-right: 3px solid rgb(13, 61, 77);
  color: rgb(17, 5, 63);
  background-color: #e5fafd;
  font-size: .8rem;
}

button {
  width: 60%;
  height: 40px;
  font-weight: bold;
  display: block;
  margin: 10px auto;
  background: #d71042;
  border-radius: 5px;
  font-size: 17px;
  color: white;
  border-top-color: #d71042;
  border-left-color: #d71042;
  border-right-color: rgb(215, 47, 47);
  border-right-width: 7px;
  border-bottom-color: rgb(215, 47, 47);
  border-bottom-width: 7px;
  
 
}

button:hover {
  color: rgb(240, 206, 206);
  background: #582313;
  border-color: #582313;
}

button:active {
  position: relative;
  top: 1px;
}
#btn2{
  font-weight: bold;
  display: block;
  margin: 20px auto -10px auto;
  background: #6969d6;
  border-radius: 5px;
  font-size: 17px;
  color: white;
  border-color: #6969d6;
  
}

#btn2:hover {
  color: rgb(240, 218, 218);
  background: #160b4f;
  border-color: #160b4f;
  
}

#totalTip {
  width:70%;
  margin: auto;
  background-color: #c0e18b;
  font-size: .7rem;
  font-weight: bold;
  text-align: center;
  border-width: 5px;
  padding: 5px;
  display: flex;
  
  
  
}

#totalTip:before {
  content: " Amount";
  font-size: .7rem;
  font-weight:lighter;
  display: inline;
}
#amt::after{
  content: " and Tip";
  font-size: .7rem;
  font-weight:lighter;
  display: inline;
}

#totalTip sup {
  font-size: .7rem;

}

#totalTip small {
  font-size: .7rem;
  font-weight: lighter;
  display: inline;
}
